@media (min-width: 376px) and (max-width: 1023px) {
    header{
        gap: 32.41256rem; 
    }
    .buttonmenu{
        gap: 4.25rem;
        padding: 0rem 3.125rem;
    }
.buttonlayout{
    gap: 4.25rem;
    padding-top: 0.8rem;
}
.logolayout{
    padding: 1.875rem 3.125rem;
    gap: 0.6rem;
}

    #searchbutton {
        display: flex;
        height: 3.0625rem;
        align-items: center;
        border-radius: 0rem 0.9375rem 0.9375rem 0rem;
        border: 1px solid #0065FC;
        background: #0065FC;
        color: var(--White, #FFF);
        text-align: center;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

body{
    padding: 0rem 3.125rem;
    gap: 2.1875rem;
    }
.fredtwo{
height: 146px;
width: 91.6px;
}
.menulayout{
gap: 2.1875rem;
padding-left: 3.12rem;
}
.filterbarlayout{
    display: flex;
}
.menutextlayout{
    gap: 0.5rem;
}
.buttongroup{
    display: flex;
}
.containertab{
    padding-left: 3.12rem;
}
.tabone{
padding: 1.875rem;
gap: 1.875rem;
margin-bottom: 3.12rem;
background: var(--Grey, #F2F2F2);
}
.firstcolumn, .secondcolumn{
    display: flex;
    gap: 1.875rem;
}
.tabtwolayout{
    display: flex;
    padding: 1.875rem;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;
}
.cardcontent{
    margin-left: 1rem;
}
.cardcontenttwo{
    width: 10rem;
    margin-left: 1rem;
}
h3{
    padding-left: 2rem;
    padding-top: 2rem;
}
.titletabtwo{
    gap: 31rem;
}
.cardthree{
    height: 12.5rem;
}
.sectionactivite{
    padding: 1.875rem;
gap: 1.875rem;
padding-left: 10rem;
}
.tabthree{
    gap: 1.875rem;
}
.border{
    padding: 0.9rem;
}
footer{
    gap: 1.875rem;
    margin-left: 6.12rem;
    width: 53rem;
}
.footergroup{
padding: 1.25rem;;
gap: 0.9375rem;
flex: 1 0 0;
}
  }