header {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .logolayout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .logobooki {
            width: 3.81813rem;
            height: 1.1875rem;
        }
    }

    .buttonmenu {
        display: flex;
        flex-direction: column;
        align-items: center;


        .buttonlayout {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

        }

        #button1,
        #button2 {
            background-color: white;
            border-style: hidden;
        }

        #button1 {
            display: block;
            color: #0065FC;
        }


        #button1::before {
            content: "";

            height: 0.14rem;
            background-color: blue;
            width: 100%;
            position: absolute;
            top: -0.40rem;
            left: 0;
        }

        #button2 {
            width: 3.9375rem;
            height: 2.1875rem;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    .menulayout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .menutextlayout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .findhometext {
        color: #000;
        font-family: Raleway;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .citycentertext {
        color: #000;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .searchbutton {
        display: flex;
        align-items: center;
        border-radius: 0rem 0.9375rem 0.9375rem 0rem;
        border: #0065FC;
        background: #0065FC;
    }

    .searchmodulelayout {
        display: flex;
        align-items: center;
        border-radius: 0.9375rem;
        border: 1px solid #F2F2F2;
        background: #FFF;
    }

    .locationimglayout {
        width: 3.125rem;
        height: 3.0625rem;
        flex-shrink: 0;
    }

    .searchtext {
        color: black;
        text-align: center;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #searchbutton {
        display: flex;
        height: 3.0625rem;
        align-items: center;
        border-radius: 0rem 0.9375rem 0.9375rem 0rem;
        border: 1px solid #0065FC;
        background: #0065FC;
        color: var(--White, #FFF);
        text-align: center;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .readt {
        color: #000;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .search-input {
        color: Black;
        text-align: center;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .night,
    .nighttwo {
        color: #000;
        font-family: Raleway;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .filterbarlayout {
        display: flex;

        align-items: center;
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .flag {
        width: 1.375rem;
        height: 1.375rem;
    }

    #filterbutton {
        background: white;
        display: flex;
        height: 3.125rem;
        padding: 0.25rem 1.1875rem;
        align-items: center;
        border-radius: 1.5625rem;
        border: 2px solid #D9D9D9;
        color: var(--Black, #000);
        font-family: Raleway;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #filterbutton2 {
        background: white;
        display: flex;
        height: 3.125rem;
        align-items: center;
        border-radius: 1.5625rem;
        border: 2px solid #D9D9D9;
        color: var(--Black, #000);
        font-family: Raleway;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #filterbutton2:hover {
        background: #DEEBFF;
    }

    .infolayout {
        display: flex;
        height: 1.5rem;
        align-items: center;
        margin-bottom: 2rem;
        align-self: stretch;
        color: #000;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .i {
        margin-right: 0.40rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .tabone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0.9375rem;
        background: var(--Grey, #F2F2F2);
    }

    h4 {
        align-self: stretch;
        color: #000;
        font-family: Raleway;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .firstcolumn {
        display: flex;
        align-items: flex-start;
    }

    .card {
        display: flex;
        border-style: hidden;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
        border-radius: 1.25rem;
        background: #FFF;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }

    .fred {
        object-fit: scale-down;
        height: 7.75rem;
        align-self: stretch;
        border-radius: 1.25rem 1.25rem 0rem 0rem;
    }

    .cardcontent {
        align-self: stretch;
    }

    .fa-solid {
        color: var(--main-color);
        width: 14.294px;
        height: 13.25px;
        flex-shrink: 0;
    }

    .neutral-star {
        color: var(--main-bg-color);
        width: 14.294px;
        height: 13.25px;
        flex-shrink: 0;
    }

    .euro {
        color: #000;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .secondcolumn {
        display: flex;
        align-items: flex-start;
    }

    .plus {
        align-self: stretch;
        color: #000;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .tabtwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 0.9375rem;
        background: var(--Grey, #F2F2F2);
    }

    h3 {
        color: #000;
        font-family: Raleway;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 18.76925rem;
        ;
    }

    .titletabtwo {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .cardtwo {
        display: flex;
        height: 9rem;
        align-items: center;
        border-radius: 1.25rem;
        background: #FFF;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    .nighttwo{
        color: #000;
      font-family: Raleway;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      }
    h5 {
        color: #000;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cardcontenttwo {
        height: 8.375rem;
    }

    .sr-only {
        display: flex;
    }

    .fredtwo {
        width: 7.6875rem;
        height: 9rem;
    }

    .sectionactivite {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .activitelayout {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
    }

    .marseille {
        height: 1.87619rem;
        align-self: stretch;
        color: #000;
        font-family: Raleway;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .tabthree {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
    }

    .cardthree {
        flex-shrink: 0;
        align-self: stretch;
    }

    .cardthreelayout {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
        border-radius: 1.25rem;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }

    .border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0rem 0rem 1.25rem 1.25rem;
        background: White, #FFF;
    }

    footer {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        background: var(--Grey, #F2F2F2);
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    .footergroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    .h7 {
        color: #000;
        font-family: Raleway;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    li {
        color: #000;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .vieuxports {
        color: #000;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
}